<html>
  <head>
    <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
      crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>

  <body class="page-top bg-primary">
    <div class="container text-center" style="height:100%">
      <div class="text-center" style="height:50%;padding-top: 10%">
        <h1>Manager Options</h1>

        <div>
          <h3>Please Select a Manager Option</h3>

          <div style="padding-top:1%">
            <a href="../check-avg-hours.php" class="btn btn-success btn-lg">
             <i class="fa fa-user"></i> Lookup the Average Number of Hours Worked by Each Employee</a>
          </div>
          
          <div style="padding-top:1%">  
            <a href="../update.php" class="btn btn-info btn-lg">
              <i class="fa fa-refresh"></i> Update Employee Information</a>
          </div>

          <div style="padding-top:1%">
            <a href="../delete.php" class="btn btn-success btn-lg">
              <i class="fa fa-remove"></i> Permanently Remove an Employee from the Databases</a>
          </div>

          <div style="padding-top:1%">
            <a href="../search-album-artist.php" class="btn btn-info btn-lg">
              <i class="fa fa-dollar"></i> Lookup Album Price</a>
          </div>

          <div style="padding-top:1%">
            <a href="search_most_expensive.html" class="btn btn-success btn-lg">
              <i class="fa fa-key"></i> Lookup the Most Expensive Album</a>
          </div>

          <div style="padding-top:1%">
            <a href="../maxtotal.php" class="btn btn-info btn-lg">
              <i class="fa fa-lightbulb-o"></i> Lookup Customer with Largest Total Number of Purchases</a>
          </div>

          <div style="padding-top:1%">
            <a href="../supplier-search.php" class="btn btn-success btn-lg">
              <i class="fa fa-search"></i> Lookup a Supplier</a>
          </div>

          <div style="padding-top:1%">
            <a href="search_all_albums.html" class="btn btn-info btn-lg">
              <i class="fa fa-eye"></i> Find the Loyal Customer who has Purchased Every Album by A Criteria</a>
          </div>

          <div style="padding-top:1%">
              <a href="index.html" class="btn btn-danger btn-lg">
                <i class="fa fa-home"></i> Home</a>
            </div>
        </div>
      </div>
    </div>
  </body>
</html>
