<html>
	<head>
	    <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
	      crossorigin="anonymous"></script>
	    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  	</head>
  	<body class="page-top bg-primary">
		<div class="container text-center" style="height:100%">
	      	<div  class="text-center" style="height:50%;padding-top:25%">
			  	<h2><i class="fa fa-eye"></i> Find the Loyal Customer who has Purchased all Albums with Selected Criteria </h3>
				<h3>Please Select a Searching Criteria</h2>
				<form action="../all-album.php" method="post">
					<input type="radio" name="type" value="Artist" checked> Search By Artists <br>
					<input type="radio" name="type" value="Genre" > Search By Genres <br>
					<input type="radio" name="type" value="Format" > Search By Format <br>
					<div style="padding-top:2%">
						<input class="btn btn-success btn-lg" href="../all-album.php" type="submit" value="Select">
						<a class='btn btn-danger btn-lg' href="index.html"><i class="fa fa-home"></i>Home</a>
					</div>
				</form>
			</div>
		</div>
	</body>
</html>
